.tiendas{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.tiendas img{
    width: 300px;
    height: 300px;
    margin-right: 20px;
    border-radius: 5px;
}

.detalles{
    font-family: Arial, sans-serif;
}

.detalles h3{
    margin-top: 0;
    margin-bottom: 5px;
}

.detalles p{
    margin: 0;
}