body {
    font-family: Arial, sans-serif;
    background-image: url('img/usac.jpeg');
    background-size: cover; /* Esto asegura que la imagen de fondo cubra toda el área del cuerpo */
    background-position: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}

nav {
    margin: 0 auto;
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}

.container {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.serie2{
    text-align: center;
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin: auto;
    background-color: skyblue;
}




.volver{
    display: block;
    width: 5%;
    padding: 20px;
    background-color: yellow;
    color: white;
    border-radius: 30px;
}


input[type="submit"] {
    display: block;
    width: 70%;
    padding: 20px;
    background-color: blue;
    color: white;
    border: red;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}

input[type="submit"]:hover {
    text-align: center;
    background-color: green;
}